/*****************************************************************************/
/* Admin: Style */
/*****************************************************************************/
.admin {
}

html{
    background-color: #f3f3f3;
}

.form-group {
    padding: 10px 0 10px 0;
}

.control-explanation{
    color:#a9a9a9;
}
.verticalCenter {
    float: none;
    display: inline-block;
    vertical-align: middle;
}                                    
