<template name="Admin">
<div class="admin">
    {{> Header }}
    <div class="panel panel-default">
        <div class="spinner">
            {{> spinner }}
        </div>
        <div class="panel-body">
            <!-- You only need this form and the form-basic.css -->
            <form class="form-horizontal" method="post" action="#">
                <fieldset>
                    <div class="form-title-row">
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Current Preference</label>
                        <h4 class="col-md-2"><b>{{currentPreferenceName}}</b></h4>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Region</label>
                        <div class="col-md-4">
                            <select class="category-select form-control js-select-primary">
                                <option value="Chesapeake Bay">Chesapeake Bay</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Station Data View</label>
                        <div class="col-md-4">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default stationDataViewOption multipleStation active">Multiple Station</button>
                                <button type="button" class="btn btn-default stationDataViewOption singleStation">Single Station</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Primary Station
                        </label>
                        <div class="col-md-4">
                            <select class="category-select form-control js-select-primary" id="primaryStation">
                                {{#unless primaryStation}}
                                    <option value="">-- Please Choose One --</option>
                                {{/unless}}
                                {{#each stationsList}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                            <p class="control-explanation">Select a station.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Line Plot (top)
                        </label>
                        <div class="col-md-4">
                            <select class="category-select form-control js-top-plot-param" id="topPlotDataParameter">
                                {{#each dataParams}}
                                <option value="{{this.name}}">{{this.uiName}}</option>
                                {{/each}}
                            </select>
                            <p class="control-explanation">Select a data paramter.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Bar Plot (bottom)
                        </label>
                        <div class="col-md-4">
                            <select class="category-select form-control js-select-bottom-parameter" id="bottomPlotDataParameter">
                                {{#each dataParams}}
                                <option value="{{this.name}}">{{this.uiName}}</option>
                                {{/each}}
                            </select>
                            <p class="control-explanation">Select a bar plot parameter.</p>
                        </div>
                    </div>
                    <div class="form-group parameterAlertsDiv">
                        <label class="col-md-2 control-label" for="paramAlerts">
                            Parameter Alerts
                        </label>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <input id="lowAlert" type="text" class="form-control form-control-rounded" placeholder="Low"/>
                                </div>
                                <div class="col-md-4">
                                    <input id="midAlert" type="text" class="form-control form-control-rounded" placeholder="Mid"/>
                                </div>
                                <div class="col-md-2">
                                    <input id="paramUnit" type="text" class="form-control form-control-rounded" disabled/>
                                </div>
                                <div class="col-md-1 verticalCenter">
                                    <div class="input-group-btn">
                                        <a tabindex="0" class="btn btn-default" id="parameterAlertsTooltip" role="button" data-toggle="popover" data-trigger="focus" title="Parameter Alerts" data-content="Use parameter alerts to color graphs based on values. Colors under the min value with be green. Colors between min and mid will be yellow. Colors above mid will be red. The colors can be flipped.">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-3">
                                    <input type="checkbox" id="parameterAlertsEnableInput"> Enabled
                                </div>
                                <div class="col-md-6 parameterAlertToggle">
                                    <input type="radio" name="flipGroup" class="parameterAlertToggle" id="parameterAlertsFlippedSwitch"> Low = Green
                                    <input type="radio" name="flipGroup" class="parameterAlertToggle" id="parameterAlertsNotFlippedSwitch"> Low = Red
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group" id="singleStationParameters">
                        <label class="col-md-2 control-label">Station Parameters</label>
                        <div class="col-md-4">
                            {{#each singleStationParameters}}
                                <label for="{{this.name}}"><input type="checkbox" class="stationParameterCheckbox" id="{{this.name}}">{{this.uiName}}</label>
                            {{/each}}
                            <p class="control-explanation">Select parameters to graph for a single station.</p>
                        </div>
                    </div>
                    <div class="form-group" id="proximityStations">
                        <label class="col-md-2 control-label">
                            Proximity Stations
                        </label>
                        <div class="col-md-4">
                            {{#each stationsList}}
                                <label for="{{this}}"><input type="checkbox" class="proximityStationCheckbox" id="{{this}}">{{this}}</label>
                            {{/each}}
                            <p class="control-explanation">Nearby stations to display on the bottom bar plot.</p>
                        </div>
                    </div>
                    <!-- <div class="form&#45;group"> -->
                        <!--     <label class="col&#45;md&#45;2 control&#45;label"> -->
                            <!--         Time (max 48 hours) -->
                            <!--     </label> -->
                        <!--     <div class="col&#45;md&#45;10"> -->
                            <!--         <input type="text" class="form&#45;control form&#45;control&#45;rounded" id="dataDuration" value={{dataDuration}} /> -->
                            <!--     </div> -->
                        <!-- </div> -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Page Refresh Interval (seconds)
                        </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control form-control-rounded" id="refreshInterval" value={{refreshInterval}} />
                            <p class="control-explanation">Select a page refresh interval.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Date Range
                        </label>
                        <div class="col-md-4">
                            <input type="rangeslide"/>
                            <p class="control-explanation">Select a range of data to display. This parameter is limited by data availability</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            Ticker Marquee
                        </label>
                        <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" aria-label="..." id="tickerEnabledInput"><span>  Enabled</span>
                                    </span>
                                    <input type="text" class="form-control form-control-rounded" id="infoTickerText" value={{infoTickerText}}>
                                    <div class="input-group-btn">
                                        <a tabindex="0" class="btn btn-default" id="tickerMarqueeTooltip" role="button" data-toggle="popover" data-trigger="focus" title="Ticker Marquee" data-content="Text to scroll across the bottom of the screen.">
                                            <i class="fa fa-question-circle"></i>
                                        </a>
                                    </div>
                                </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-md-offset-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Saved Preferences
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" data-toggle="modal" data-target="#savePreferenceModal">Save</a></li>
                                        <li><a href="#" data-toggle="modal" data-target="#loadPreferencesModal">Load</a></li>
                                        <li><a href="#" data-toggle="modal" data-target="#preferencesDeletionModal">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal fade" id="loadPreferencesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Load Preference</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{#each dataPreferences}}
                                            <button type="button" class="btn btn-default preferenceSelectionButton" data-preference-id="{{this._id}}">{{this.profile.preferenceName}}</button>
                                            {{/each}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="savePreferenceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Save Preferences</h4>
                                        </div>
                                        <div class="modal-body">
                                            <label>Preference Name:</label><input type="text" class="form-control form-control-rounded" id="savePreferenceInput"/>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="savePreferenceButton">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="preferencesDeletionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Delete Preferences</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{#each dataPreferences}}
                                            <button type="button" class="btn btn-default preferenceDeletionButton" data-preference-id="{{this._id}}">{{this.profile.preferenceName}}</button>
                                            {{/each}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="preferencesDeleteButton">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="pull-right btn btn-primary" type="submit">Plot Data</button>
                            </div>
                            <div class="row">
                                <button type="button" class="btn btn-defualt" id="getCsvButton">get csv</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</template>
