<template name="MetIcons">
  <div class="met-icons">
      <div class="row text-center">
          <div class="col-md-1 " >
              <i class="wi wi-moon-alt-waning-gibbous-2" style="font-size: 70px; display: inline-block"></i>
              <div class="text-md">Lunar</div>
          </div>
          <div class="col-md-1" >
              <div data-skycon="rain" data-color="#888" data-width="60" data-height="60" class="center-block"></div>
              <div class="text-md">Weather</div>
          </div>
          <div class="col-md-1">
              <i class="wi wi-thermometer"  style="font-size: 45px"></i>
              <span style="font-size: 40px;">3</span><i class="wi wi-celsius" style="font-size: 30px;"></i>
              <div class="text-md">Temperature</div>
          </div>
          <div class="col-md-1" style="margin-right: 40px"></div>
          <div class="col-md-3">
              <img src="logo.png">
          </div>
          <div class="col-md-1 text-md"><i class="wi wi-wind towards-23-deg" style="font-size: 70px"></i>
              <div class="text-md">Wind Direction</div>
          </div>

          <div class="col-md-1 text-md">
              <i class="wi wi-wind-beaufort-4" style="font-size: 70px;"></i>
              <div class="text-md">Wind Speed</div>
          </div>
          <div class="col-md-1" style="font-size: 20px; padding-top: 13px;">Duration:<br>48 hours</div>
      </div>
  </div>
</template>
