/*****************************************************************************/
/* MetIcons: Style */
/*****************************************************************************/

.met-icons > div.icons {
    width: 11%;
    display: inline-block;
    border-right: solid 1px #aaa;
    margin-top: 30px;
}

.met-icons > div.icons:last-child {
    border-right: none;
}


.met-icons > div.icons:nth-child(5) {
    border-left: solid 1px #aaa;
}

.met-icons > div.icons i {
    font-size: 70px;
    display: inline-block;
    color: #4994D0;
}

.met-icons > div.icons .text-md {
    color: #F58220;
}


.met-icons > div.logo-brand {
    width: 33%;
    display: inline-block;
    position: relative;
    top: -30px;
}
