/*****************************************************************************/
/* InfoTicker: Style */
/*****************************************************************************/
.info-ticker {
}

.info-ticker .marquee {
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
}

