/*****************************************************************************/
/* Maintenance: Style */
/*****************************************************************************/
.maintenance {
}
.maintenance img {
    margin: 10px 0 10px 0;
}

.maintenance h3 {
    margin: 10px 0 10px 0;
}

.maintenance p {
    padding: 10px 0 10px 0;
}
