/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home .container-fluid{
    position: absolute;
    height: 100%;
    width: 100%;
}

.home .df-top {
    padding: relative;
}

.home .df-top > div > div {
    background-color: #4994D0;
}
.home .df-top > div > div {
    background-color: #4994D0;
}

.home .df-top div:first-child {
    position: relative;
    padding: 0;
    margin: 0 0 10px 0;
}

.home .df-center {
    position: relative;
    height: 80%;
}
.home .df-bottom > div {
    padding: 0;
    margin: 0;
    bottom: 0;
    position: absolute;
    height: 10vh;
}
.home .df-bottom .panel {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #4994D0;
    color: white;
    border-radius: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6vh;
}

.home a.full-screen {
    color: white;
    background-color: #4994D0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10000;
}
.home {
}
