<template name="Home">
  <div class="home">
      <div class="container-fluid">
          <a class="full-screen" href="#" data-toggle-fullscreen="">
              <em class="fa fa-expand"></em>
          </a>
          <div class="row df-top">
              <div class="col-md-12">
                  <div class="panel panel-default" style="padding-top: 5px;">
                      <div class="panel-body">
                          {{> MetIcons}}
                      </div>
                  </div>
              </div>
          </div>
          <div class="row df-center">
              <div class="col-md-4 df-left">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          {{> BuoyMap}}
                      </div>
                  </div>
              </div>
              <div class="col-md-8 df-right">
                  {{> OceanPlots }}
              </div>
          </div>
          <div class="row df-bottom">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          {{> InfoTicker }}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>
