<template name="Home">
  <div class="home">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          MET ICONS
                      </div>
                      <div class="panel-body">
                          {{> MetIcons }}
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          MAP, LEGEND, PICTURE
                      </div>
                      <div class="panel-body">
                          {{> BuoyMap }}
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          PLOTS
                      </div>
                      <div class="panel-body">
                          {{> OceanPlots }}
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          INFO TICKER
                      </div>
                      <div class="panel-body">
                          {{> InfoTicker }}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>
