/*****************************************************************************/
/* OceanPlots: Style */
/*****************************************************************************/
.ocean-plots {
}

.ocean-plots .plot-banner {
   border-radius: 5px;
   padding: 2px;
   width: 100%;
   margin: 0px;
}

.ocean-plots .plot-banner {
    margin: 0;
    padding: 0;
    background-color: white;
    padding: 0 5px 0 5px;
}
.ocean-plots .plot-banner h3 {
    margin: 0;
    padding: 0 0px 2px 0px;
    display: inline-block;
    color: #f06d1a;
    font-size: 32px;
}

.ocean-plots .plot {
    min-width: 310px;
    height: 317px;
}
