<template name="BuoyMap">
	  <div class="buoy-map">
	  	<table class='maintable'>
	 	 <tr>
	 	 <td class="left">
	    	<img id='stationimg' src='http://buoybay.noaa.gov/sites/default/files/images/Dominion_Gooses_Reef.jpg' width='300px' height='161px' alt='No Img as of now'/>
	  	 </td>	
	  	 <td class="right">
	   	 	
	    	 <table id='legendTable'  class='legendTable'> </table>
	  	 </td>
	 	 </tr>
	 	 <tr>
	  	<td colspan="2">
			<div id='map'></div>
	 	 </td>
	 	 </tr>
	 	 </table>
		
	   </div>

</template>
