/*****************************************************************************/
/* BuoyMap: Style */
/*****************************************************************************/
.buoy-map {
}
#map {
    min-height: 570px;
    min-width: 100%;
  }
.stationimg
  {
	  width:50px;
	  height:50px;
  }
