/*****************************************************************************/
/* MetIcons: Style */
/*****************************************************************************/
.met-icons: {
}
.met-icons > div.icons {
    width: 10%;
    display: inline-block;
}

.met-icons > div.logo-brand {
    width: 35%;
    display: inline-block;
    position: relative;
    top: -30px;
}

.met-icons .logo-brand img {
    width: 20vw;
}

.met-icons i.wi {
    font-size: 4vw;
    color: #4994D0;
}

.met-icons span.wi-data {
    font-size: 2vw;
    font-weight:bold;
    color: #4994D0;
}

.met-icons .wi-units, .met-icons .wi-fahrenheit.wi-units,
.met-icons .wi-data > small.wi-units {
    font-size: 2vw;
    font-weight: bold;
    color: #4994D0;
}

.met-icons .wi-caption {
    font-weight:bold;
    font-size: 2vw;
    color: #F58220;
}

.met-icons span.wi-cardinal {
    float: left;
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    padding-left: .8vw;
    bottom: 7vw;
    font-family: 'pirate';
    color: #4994d0;
}
