/*****************************************************************************/
/* MetIcons: Style */
/*****************************************************************************/
.met-icons: {
    margin-top: 10px;
}
.met-icons > div.icons {
    width: 14%;
    padding-right: 10px;
    padding-top: 15px;
    display: inline-block;
    text-align: center;
}

.met-icons > div.logo-brand {
    width: 28%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
}

.met-icons .logo-brand img {
    width: 20vw;
}

.met-icons i.wi {
    font-size: 4vw;
    color: #4994D0;
}

.met-icons span.wi-data {
    font-size: 2vw;
    font-weight:bold;
    color: #4994D0;
}

.met-icons .wi-units, .met-icons .wi-fahrenheit.wi-units,
.met-icons .wi-data > small.wi-units {
    font-size: 2vw;
    font-weight: bold;
    color: #4994D0;
}

.met-icons .wi-caption {
    font-weight:bold;
    font-size: 1.5vw;
    color: #F58220;
}

.met-icons span.wi-cardinal {
    float: left;
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    padding-left: .75vw;
    bottom: 4.8vw;
    font-family: 'pirate';
    color: #4994d0;
}
